In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [6]:
# Load the preprocessed data
data = pd.read_csv('myTrainingData1.csv')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466074 entries, 0 to 466073
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  466074 non-null  object
 1   x-axis     466074 non-null  float64
 2   y-axis     466074 non-null  float64
 3   z-axis     466074 non-null  float64
 4   SenorType  466074 non-null  object
 5   Part       466074 non-null  object
 6   UserID     466074 non-null  object
dtypes: float64(3), object(4)
memory usage: 24.9+ MB

In [8]:
# Convert the timestamp column to datetime format
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%Y-%m-%d %H:%M:%S:%f')

# Extract relevant features from the timestamp data
data['hour'] = data['timestamp'].dt.hour
data['minute'] = data['timestamp'].dt.minute
data['second'] = data['timestamp'].dt.second

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466074 entries, 0 to 466073
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  466074 non-null  datetime64[ns]
 1   x-axis     466074 non-null  float64
 2   y-axis     466074 non-null  float64
 3   z-axis     466074 non-null  float64
 4   SenorType  466074 non-null  object
 5   Part       466074 non-null  object
 6   UserID     466074 non-null  object
 7   hour       466074 non-null  int64
 8   minute     466074 non-null  int64
 9   second     466074 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 35.6+ MB

In [10]:
X = data[['x-axis', 'y-axis', 'z-axis', 'SenorType', 'Part', 'hour', 'minute', 'second']]

y = data[['UserID']]

In [11]:
X

,x-axis,y-axis,z-axis,SenorType,Part,hour,minute,second
0,-0.022371,-0.022371,-0.025566,gyroData,head,13,42,18
1,0.010653,0.002131,-0.023436,gyroData,head,13,42,19
2,-0.005326,0.001065,-0.051133,gyroData,head,13,42,19
3,-0.022371,0.020240,-0.007457,gyroData,head,13,42,19
4,0.053263,-0.024501,-0.099070,gyroData,head,13,42,19
...,...,...,...,...,...,...,...,...
466069,-0.215657,0.116428,0.273807,linearAccelDataM,torso-back,17,35,28
466070,-0.148377,0.095651,-0.507252,linearAccelDataM,torso-back,17,35,28
466071,-0.148377,0.095651,-0.507252,linearAccelDataM,torso-back,17,35,28
466072,-0.772910,-0.245263,1.409866,linearAccelDataM,torso-back,17,35,28
466073,-0.772910,-0.245263,1.409866,linearAccelDataM,torso-back,17,35,28

In [12]:
y

         UserID
0       User001
1       User001
2       User001
3       User001
4       User001
...         ...
466069  User009
466070  User009
466071  User009
466072  User009
466073  User009

[466074 rows x 1 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['SenorType'] = le.fit_transform(X['SenorType'])
X['Part'] = le.fit_transform(X['Part'])

C:\Users\psalu\AppData\Local\Temp\ipykernel_24332\1977829049.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['SenorType'] = le.fit_transform(X['SenorType'])
C:\Users\psalu\AppData\Local\Temp\ipykernel_24332\1977829049.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Part'] = le.fit_transform(X['Part'])

In [14]:
y['UserID'] = y['UserID'].astype('category')

C:\Users\psalu\AppData\Local\Temp\ipykernel_24332\462011439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['UserID'] = y['UserID'].astype('category')

In [15]:
# Train the SVM model
svm = SVC(kernel='linear', C=1.0, random_state=42)
model = svm.fit(X, y)

C:\Users\psalu\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
# Load the preprocessed data
dataTest = pd.read_csv('myTestingData1.csv')

In [17]:
# Convert the timestamp column to datetime format
dataTest['timestamp'] = pd.to_datetime(dataTest['timestamp'], format='%Y-%m-%d %H:%M:%S:%f')

# Extract relevant features from the timestamp data
dataTest['hour'] = dataTest['timestamp'].dt.hour
dataTest['minute'] = dataTest['timestamp'].dt.minute
dataTest['second'] = dataTest['timestamp'].dt.second

In [18]:
XTest = data[['x-axis', 'y-axis', 'z-axis', 'SenorType', 'Part', 'hour', 'minute', 'second']]

yTest = data[['UserID']]

In [19]:
XTest['SenorType'] = le.fit_transform(XTest['SenorType'])
XTest['Part'] = le.fit_transform(XTest['Part'])

C:\Users\psalu\AppData\Local\Temp\ipykernel_24332\3611357993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  XTest['SenorType'] = le.fit_transform(XTest['SenorType'])
C:\Users\psalu\AppData\Local\Temp\ipykernel_24332\3611357993.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  XTest['Part'] = le.fit_transform(XTest['Part'])

In [20]:
yTest['UserID'] = yTest['UserID'].astype('category')

C:\Users\psalu\AppData\Local\Temp\ipykernel_24332\27506835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yTest['UserID'] = yTest['UserID'].astype('category')

In [21]:
import pickle

In [22]:
with open('svm_model.pickle', 'wb') as f:
    pickle.dump(model, f)

In [23]:
# Evaluate the performance of the SVM model
y_pred = model.predict(XTest)
report = classification_report(yTest, y_pred)
print(report)

              precision    recall  f1-score   support

     User001       1.00      1.00      1.00     26234
    User0010       1.00      1.00      1.00     28278
    User0011       1.00      1.00      1.00     20927
    User0012       1.00      1.00      1.00     27921
    User0013       1.00      1.00      1.00     27520
    User0014       0.55      0.53      0.54     29507
    User0015       1.00      1.00      1.00     30966
    User0016       1.00      1.00      1.00     28572
    User0017       1.00      1.00      1.00     24138
     User002       1.00      1.00      1.00     25044
     User003       1.00      1.00      1.00     24900
     User004       1.00      1.00      1.00     29358
     User005       1.00      1.00      1.00     24407
     User006       1.00      1.00      1.00     29915
     User007       1.00      1.00      1.00     24615
     User008       1.00      1.00      1.00     31590
     User009       0.58      0.60      0.59     32182

    accuracy                           0.94    466074
   macro avg       0.95      0.95      0.95    466074
weighted avg       0.94      0.94      0.94    466074